@font-face {
    font-family: "Pixel Operator";
    src: url(PixelOperator.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Digi Kyokasho";
    src: url(DigiKyokasho.ttf);
    font-weight: normal;
    font-style: normal;
}
body {
    background-color:#2e2a35;
    color:#fbfff1;
    font-family: "Digi Kyokasho", sans-serif;
    font-size: 20px;
}
h1 {
    font-family: "Pixel Operator", sans-serif;
    font-size: 80px;
    line-height: 20%;
}
a {
    color:#5b73e1;
}
h2 {
    font-size: 30px;
}
hr {
    color:#fbfff1;
}
div {
    background-color:#2e2a35;
}
.sidenav {
    height: 100%;
    width: 180px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #232028;
    overflow-x: hidden;
    padding-right: 10px;
    line-height: 20px;
    text-align: right;
}
.main {
    margin-left: 160px; /* Same as the width of the sidenav */
}